.temp-chart {
    --clr-series-1: var(--clr-red);
    --clr-series-2: var(--clr-navy);
    --clr-tooltpip: var(--clr-white);
    --clr-fill-series-1: var(--clr-red-light);
    --clr-fill-series-2: var(--clr-navy-light);
    --clr-background: var(--clr-gray-light);
    --gap: 0.75em;
    font-size: var(--fs-base);
    display: flex;
    flex-direction: column;
    font-family: "Gotham Condensed Book";
    position: relative;
    left: 20px
  }
  
  .temp-chart .y-axis-svg {
    display: block;
    position: absolute;
    top: 0;
  

    pointer-events: none;
  }
  
  .temp-chart .scroll-container {
    overflow-x: auto;
    overscroll-behavior: contain;
    scrollbar-width: none;

  }
  
  .temp-chart .main-svg {
    display: block;
  }
  
  .temp-chart .y-axis-g {
    --font-size: 1em;
    --color: var(--clr-gray);
    --opacity: 0.7;
    font-size: var(--font-size);
    color: var(--color);
  }
  
  .temp-chart .y-axis-g .tick {
    opacity: var(--opacity);
  }
  
  .temp-chart .y-axis-g .bg-rect {
    fill: var(--clr-background);
    width: 19px;
  }
  
  .temp-chart .x-axis-g {
    color: var(--clr-gray);
  }
  
  .temp-chart .x-axis-g .day-dot-circle {
    fill: currentColor;
  }
  
  .temp-chart .x-axis-g .day-labels-line {
    stroke: currentColor;
    stroke-linecap: round;
  }
  
  .temp-chart .x-axis-g .day-label-text {
    color: var(--clr-white);
  }
  
  .temp-chart .tip {
    --font-size: 1.25em;
    --icon-size: 0.6em;
    font-size: var(--font-size);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    pointer-events: none;
    gap: 0.2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s, visibility 0.1s;
  }
  
  .temp-chart .tip.is-visible {
    opacity: 1;
    visibility: visible;
  }
  
  .temp-chart .tip img {
    display: block;
    width: var(--icon-size);
  }

  .temp-chart .tooltip-background {
    background-color: rgba(255, 255, 255, 0.8);
    width: 110.52px;
    height: 78.18px;
    left: -0.11px;
    padding: 2.92px 5.85px 2.92px 5.85px;
    gap: 0px;
    border-radius: 5.85px;
    z-index: -1;
  }

  .focus-circle {
    stroke: white; 
    stroke-width: 1.83px;
  }

  .point-circle {
    stroke: var(--clr-red); 
    stroke-width: 1.83px;
    z-index: 4;
  }

  .focus-circle-maxmax, .focus-circle-minmin {
    stroke: white; 
    stroke-width: 1.83px;
  }

  .tooltip-row {
    display: flex;
    flex-direction: row;
    color: black;
    font-family: "Gotham Narrow Book";
    font-size: 18px;
  }

  .tooltip-row img {
      z-index: 3;
  }

  .tooltip-row span {
    margin-left: 6px;
  }

  .tooltip-value {
    font-family: "Gotham Narrow Bold";
    font-size: 18px;
  }

  .arrow-svg-left {
    padding-top: 4px;
  }
  
  .arrow-svg-right {
    padding-top: 4px;
    padding-left: 3px;
  }