@font-face {
  font-family: 'Gotham Condensed Book';
  src: url('./fonts/GothamCond-Book.otf');
}
@font-face {
  font-family: 'Gotham Condensed Bold';
  src: url('./fonts/GothamCond-Bold.otf');
}
@font-face {
  font-family: 'Gotham Narrow Black';
  src: url('./fonts/GothamXNarrow-Black-Bold.otf');
}
@font-face {
  font-family: 'Gotham Narrow Medium';
  src: url('./fonts/GothamXNarrow-Medium.otf');
}
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray: #999999;
  --clr-gray-light: #e5e5e5;
  --clr-gray-dark: #495057;
  --clr-red: #dd0000;
  --clr-red-light: #e3acac;
  --clr-navy: #184482;
  --clr-navy-light: #80caff;

  --fs-base: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: '#99999';
}

body {
  margin: 0;
  font-family: 'Gotham Condensed Book';
  background-color: var(--clr-gray-light);
  color: var(--clr-black);
  display: grid;
}

.card {
  --max-width: 992px;
  height: 327px;
  --clr-background: var(--clr-gray-light);
  width: min(var(--max-width), 100vw);
  background-color: var(--clr-background);
  font-size: var(--fs-base);
}

.card-body {
  --padding-x: 0.75em;
  --padding-y: 0.75em;
  --gap: 0.75em;
  padding: var(--padding-y) var(--padding-x);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.search {
  --font-size: calc(var(--fs-base) * 2.5);
  --icon-size: calc(var(--font-size) * 0.75);
  height: 47px;
  display: flex;
  align-items: stretch;
}

.search-input {
  font-size: var(--font-size);
  font-family: 'Gotham Narrow Medium';
  background-color: var(--clr-red);
  padding: 0px 8.3px 3px 6.7px  ;
  color: var(--clr-white);
  border: none;
  width: var(--input-width);
}

.search-btn {
  font-size: var(--font-size);
  margin-top: 9.26px;
  margin-left: 8.88px;
  cursor: pointer;
  padding: var(--padding-y) var(--padding-x);
  background-color: transparent;
  color: var(--clr-black);
  border: none;
}

.search-btn > svg {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
}

.question {
  --font-size: calc(var(--fs-base) * 2.25);
  --max-width: 24ch;
  font-family: 'Gotham Condensed Bold';
  font-size: var(--font-size);
  max-width: var(--max-width);
  line-height: 1;
  text-align: center;
  margin-inline: auto;
  margin-top: 13px;
}

.today {
  --font-size: calc(var(--fs-base) * 1.75);
  --padding-x: 0.25em;
  --padding-y: 0.125em;
  --icon-size: calc(var(--font-size) * 0.5);
  --gap: 4px;
  font-size: var(--font-size);
  padding: var(--padding-y) var(--padding-x);
  color: var(--clr-white);
  background-color: var(--clr-red);
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-family: 'Gotham Condensed Bold';
  margin-inline: auto;
}

.today > svg {
  height: var(--icon-size);
}

.swatches-container {
  --font-size: 1.25em;
  --gap-x: 1em;
  --swatch-width: 1.5em;
  --swatch-height: 2px;
  font-size: var(--font-size);
  line-height: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 var(--gap-x);
}

.swatch {
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.swatch-red {
  width: 27.94px;
  height: 2px;
  top: 11.67px;
  left: 0.5px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--clr-red);
  margin-right: 0.25em;
}

.swatch-blue {
  width: 27.94px;
  height: 19.79px;
  left: 0.5px;
  gap: 0px;
  opacity: 0px;
  background-color: var(--clr-navy-light);
  margin-right: 0.25em;
  align-items: flex-end;
  position: relative;
}

.dotted-line {
  border-top: 1px dotted black;
  position: absolute;
  top: 50%;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  width: 992px;
  height: 327px;
  overflow: auto;
  justify-items: center;
  background-color: #fefefe;
  margin: 0 auto;
  flex-direction: column;
}

.modal-items {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-items: center;
  align-items: center;
}

.modal-title {
  font-family: 'Gotham Condensed Bold';
  font-size: 58px;
  font-weight: 700;
  line-height: 56.26px;
  text-align: center;
  justify-items: center;
  align-items: center;
  display: flex;
}

.modal-input {
  border: #ced4da 2.56px;
  width: 734.55px;
  height: 59px;
  margin-top: 30px;
  left: 33px;
  gap: 9.88px;
  opacity: 0px;
  border-style: solid;
  padding: 14.83px 19.77px 14.83px 19.77px;
  gap: 4.94px;
  border-radius: 10.26px;
  font-family: Gotham XNarrow;
  font-size: 25.32px;
  font-weight: 400;
  line-height: 32.92px;
  text-align: left;
}

.modal-text {
  display: flex;
  justify-content: space-between;
  margin-top: 48.47px;
}

.modal-text-close {
  font-weight: 700;
  width: 340px;
  height: 60px;
  margin-right: 54.55px;
  line-height: 31.2px;

  color: var(--clr-gray-dark);
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;

  font-family: 'Gotham Narrow Medium';
  font-size: 28.67px;
  font-weight: 700;
  line-height: 34.45px;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-text-search {
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 60px;
  border-radius: 9.99px;
  opacity: 0px;

  background-color: #dd0000;
  border: none;
  font-family: 'Gotham Narrow Medium';

  color: #ffffff;

  font-size: 28.67px;
  font-weight: 700;
  line-height: 34.45px;
  letter-spacing: 0.03em;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.arrows {
  position: fixed;
  /* Adjust as necessary */
  left: 5%;
  transform: translateX(-50%);
  display: flex; /* Space between arrows */
}

.scroll-left, .scroll-right {
  width: 24px;
height: 24px;
background-color: #999999;
gap: 0px;
opacity: 0px;
border: none;
border-radius: 50%;
}


