@font-face {
  font-family: 'Gotham Condensed Book';
  src: url('./fonts/GothamCond-Book.otf');
}
@font-face {
  font-family: 'Gotham Condensed Bold';
  src: url('./fonts/GothamCond-Bold.otf');
}
@font-face {
  font-family: 'Gotham Narrow Black';
  src: url('./fonts/GothamXNarrow-Black-Bold.otf');
}
@font-face {
  font-family: 'Gotham Narrow Medium';
  src: url('./fonts/GothamXNarrow-Medium.otf');
}
@font-face {
  font-family: 'Gotham Narrow Light';
  src: url('./fonts/GothamNarrow-Light.otf');
}
@font-face {
  font-family: 'Gotham Narrow Book';
  src: url('./fonts/GothamXNarrow-Book.otf');
}
@font-face {
  font-family: 'Gotham Narrow Bold';
  src: url('./fonts/GothamXNarrow-Bold.otf');
}
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray: #999999;
  --clr-gray-light: #e5e5e5;
  --clr-gray-dark: #495057;
  --clr-red: #dd0000;
  --clr-red-light: #e3acac;
  --clr-navy: #184482;
  --clr-navy-light: #80caff;

  --fs-base: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: '#99999';
}

body {
  margin: 0;
  font-family: 'Gotham Condensed Book';
  background-color: var(--clr-gray-light);
  color: var(--clr-black);
  display: grid;
}

.card {
  --max-width: 992px;
  height: 327px;
  --clr-background: var(--clr-gray-light);
  width: min(var(--max-width), 100vw);
  background-color: var(--clr-background);
  font-size: var(--fs-base);
}

.card-body {
  --padding-x: 0.75em;
  --padding-y: 0.75em;
  --gap: 0.75em;
  padding: var(--padding-y) var(--padding-x);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.search {
  --font-size: calc(var(--fs-base) * 2.5);
  --icon-size: calc(var(--font-size) * 0.75);
  height: 47px;
  display: flex;
  align-items: stretch;
}

.search-input {
  font-size: var(--font-size);
  font-family: 'Gotham Narrow Medium';
  background-color: var(--clr-red);
  padding: 0px 8.3px 3px 6.7px  ;
  color: var(--clr-white);
  border: none;
  width: var(--input-width);
}

.search-btn {
  font-size: var(--font-size);
  cursor: pointer;
  background-color: var(--clr-red);
  border: none;
}

.vertical-line-bg {
  background-color: var(--clr-red); 
}

.vertical-line {
  border-left: 2px solid white;
  height: 37.42px;
  margin-top: 4.79px;
}


.search-btn > svg {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--clr-red);
  top: 6.29px;
}

.question {
  --font-size: calc(var(--fs-base) * 2.25);
  --max-width: 24ch;
  font-family: 'Gotham Condensed Bold';
  font-size: var(--font-size);
  max-width: var(--max-width);
  line-height: 1;
  text-align: center;
  margin-inline: auto;
  margin-top: 13px;
}

.today {
  --font-size: calc(var(--fs-base) * 1.75);
  --padding-x: 0.25em;
  --padding-y: 0.125em;
  --icon-size: calc(var(--font-size) * 0.5);
  --gap: 4px;
  font-size: var(--font-size);
  padding: var(--padding-y) var(--padding-x);
  color: var(--clr-white);
  background-color: var(--clr-red);
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-family: 'Gotham Condensed Bold';
  margin-inline: auto;
}

.today > svg {
  height: var(--icon-size);
}

.swatches-container {
  --font-size: 1.25em;
  --gap-x: 1em;
  --swatch-width: 1.5em;
  --swatch-height: 2px;
  font-size: var(--font-size);
  line-height: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 var(--gap-x);
}

.swatch {
  display: flex;
  align-items: center;
}

.swatch-label {
  margin-right: 24px;
}
.swatch-red {
  width: 27.94px;
  height: 2px;
  top: 11.67px;
  left: 0.5px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--clr-red);
}

.swatch-blue {
  width: 27.94px;
  height: 19.79px;
  left: 0.5px;
  gap: 0px;
  opacity: 0px;
  background-color: var(--clr-navy-light);
  border-top: 1px solid  var(--clr-navy);
  margin-right: 0.25em;
  align-items: flex-end;
  position: relative;
}

.swatch-transparent {
  width: 27.94px;
  height: 19.79px;
  left: 0.5px;
  gap: 0px;
  opacity: 0px;
  margin-right: 0.25em;
  align-items: flex-end;
  position: relative;
}

.dotted-line {
  border-top: 1px dotted  var(--clr-navy);
  position: absolute;
  top: 50%;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  width: 992px;
  height: 327px;
  overflow: auto;
  justify-items: center;
  background-color: #fefefe;
  margin: 0 auto;
  flex-direction: column;
}

.modal-items {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-items: center;
  align-items: center;
}

.modal-title {
  font-family: 'Gotham Condensed Bold';
  font-size: 58px;
  font-weight: 700;
  line-height: 56.26px;
  text-align: center;
  justify-items: center;
  align-items: center;
  display: flex;
}

.modal-input {
  border: #ced4da 2.56px;
  width: 734.55px;
  height: 59px;
  margin-top: 30px;
  left: 33px;
  gap: 9.88px;
  opacity: 0px;
  border-style: solid;
  padding: 14.83px 19.77px 14.83px 19.77px;
  gap: 4.94px;
  border-radius: 10.26px;
  font-family: Gotham XNarrow;
  font-size: 25.32px;
  font-weight: 400;
  line-height: 32.92px;
  text-align: left;
}

.modal-text {
  display: flex;
  justify-content: space-between;
  margin-top: 48.47px;
}

.modal-text-close {
  font-weight: 700;
  width: 340px;
  height: 60px;
  margin-right: 54.55px;
  line-height: 31.2px;
  color: var(--clr-gray-dark);
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Narrow Medium';
  font-size: 28.67px;
  font-weight: 700;
  line-height: 34.45px;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-text-search {
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 60px;
  border-radius: 9.99px;
  opacity: 0px;
  background-color: #dd0000;
  border: none;
  font-family: 'Gotham Narrow Medium';
  color: #ffffff;
  font-size: 28.67px;
  font-weight: 700;
  line-height: 34.45px;
  letter-spacing: 0.03em;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 0; /* Place it behind the modal */
}

.info {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  width: 934px;
  height: 327px;
  overflow: auto;
  justify-items: center;
  background-color: #fefefe;
  margin-left: 30px;
  margin-top: 64px;
  flex-direction: column;
  border-radius: 20px;
}

.info-items {
  display: flex;
  margin: 50px 60px;
  flex-direction: column;
  justify-items: center;

}

.info-title {
  font-family: 'Gotham Condensed Bold';
  font-size: 40px;
  font-weight: 700;
  line-height: 56.26px;
  display: flex;
}

.info-details {
  font-size: 21px;
  line-height: 27.3px;
  margin-top: 28px;
  font-family: 'Gotham Narrow Book';
  font-weight: 900;
}

.info-btn {
  background-color: transparent;
  border: none;
}

.autocomplete-suggestions {
  position: absolute;
  width: 734.55px;
  height: 200px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #FFFFFF; /* Black background */
  color: #495057; /* White text for better contrast */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000; /* Ensure it overlays above other content */
  list-style-type: none;
  padding: 10px;
  margin: 150px;
  display: none; /* Hidden by default */
}

.option span {
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 25.32px;
}

.scroll-left, .scroll-right {
  width: 24px;
  height: 24px;
  background-color: #999999;
  gap: 0px;
  opacity: 0px;
  border: none;
  border-radius: 50%;
}

.bottom-legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

